<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-group row" style="width: 60%">
    <label class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="firstName"
        placeholder="Enter Department Name"
      />
    </div>
    <label class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="lastName"
        placeholder="Enter Department Name"
      />
    </div>
    <label class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="department">
            <option>--Select Department--</option>
            <option *ngFor="let deptName of DepartmentList">
                {{deptName.name}}
            </option>
        </select>
    </div>
    <label class="col-sm-2 col-form-label">Date Of Joining</label>
    <div class="col-sm-10">
      <input
        type="date"
        [(ngModel)]="DateOfJoining"
      />
    </div>
  </div>
  <div class="ml-3 bd-highlight" style="width: 40%">
    <img [src]="PhotoFilePath" height="250px;" width="200px;" />
    <input type="file" (change)="uploadPhoto($event)" class="mt-2" />
  </div>
</div>

<button (click)="addDepartment()" *ngIf="Emp.id == 0" class="btn btn-primary">
  Add
</button>
<button (click)="editDepartment()" *ngIf="Emp.id != 0" class="btn btn-primary">
  Update
</button>
